.App {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  width: 60%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  width: 350px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.todo-ul{
  list-style-type: none;
}

.btn-save{
  background: green;
  color: white;
}

.btn-edit{
  background: darkcyan;
  color: white;
}

.btn-remove{
  background: #eb4034;
  color: white;
}

.btn-logout{
  background: #eb4034;
  color: white;
  float: right !important;
  margin: 20px;
}

.btn-add{
  background: #d68f00;
  color: white;
}

.btn-login{
  background: #d68f00;
  color: white;
  width: 180px;
}

.item{
  width: 300px;
  float: left;
}

.item-input{
  width: 278px;
  float: left;
}

input, button{
  padding: 8px;
  border-radius: 8px;
  margin-right: 2px;
}

.separator{
  border: 1px solid #cacaca;
  margin-top: 20px;
  width: 100%;
}

.search{
  margin-left: 140px;
}